* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.container {
	width: 50%;
	margin: 0 auto;
}

.container #contentbox {
	width: 90%;
	height: 200px;
	display: inline-block;
	resize: vertical;
	padding: 5px 10px;
}

.container #count {
	display: inline-block;
}

.container #bar {
	height: 20px;
	background: #cc0000;
}